/pcb_louis&wassim/Shema-telecommande-Louis/Shema-telecommande-Louis-backups
pcb_matt&martin/voiture_telecommandee-main/voiture_telecommandee-main/kicad/shield/\#auto_saved_files\#
pcb_matt&martin/voiture_telecommandee-main/voiture_telecommandee-main/kicad/shield/~shield.kicad_sch.lck
